<div class="container">
  <div class="row justify-content-center p-0">
    <div class="col-md-8">
      <div class="card my-4">
        <div class="card-body">
          <h5>登録情報　<%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-secondary btn-sm ml-2" %></h5>
          <table class="table">
            <tbody>
              <tr>
                <th>プロフィール画像</th>
                <td><%= image_tag @customer.get_profile_image(100,100), class: 'rounded-circle' %></td>
              </tr>
              <tr>
                <th>氏名</th>
                <td><%= @customer.name %></td>
              </tr>
              <tr>
                <th>メールアドレス</th>
                <td><%= @customer.email %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <% if @customer.posts %>
    <div class='row'>
      <div class='col-md-8 offset-md-2 p-0'>
      <% @customer.posts.each do |post| %>
        <div class='card'>
          <div class='card-body'>
            <div class='d-flex flex-row mb-2'>
              <%= link_to customer_path(post) do %>
                <%= image_tag post.customer.get_profile_image(50,50), class: 'rounded-circle' %>
              <% end %>
              <h5 class='ml-3'><%= post.customer.name %></h5>
            </div>
            <div class='d-flex flex-row offset-md-1'>
              <div class='img-container ml-2 mr-3'>
                <%= link_to post_path(post) do %>
                  <%= image_tag post.get_post_image(800,800) %>
                <% end %>
              </div>
              <div>
                <p><%= post.title %></p>
                <p class='w-75'><%= post.body %></p>
                <div class='d-flex flex-row mb-3'>
                  <p><%= render 'public/posts/static_rate', post: post %><i class="fa-regular fa-comment-dots ml-3 mr-1 mt-1"></i><%= post.post_comments.count %></p>
                </div>
                <p>¥<%= post.price.to_s(:delimited) %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>
</div>