<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 p-0">
      <div class="card my-4">
        <div class="card-body">
          <div class="d-flex">
            <h5>登録情報</h5>
            <% if current_customer == @customer %>
              <% unless @customer.guest_customer? %>
                <%= link_to "編集", edit_customer_path(@customer), data: {"turbolinks" => false}, class: "btn btn-outline-secondary btn-sm col-sm-2 ml-2 mt-0 mb-2" %>
              <% end %>
            <% end %>
          </div>
          <table class="table">
            <tbody>
              <tr>
                <th>プロフィール画像</th>
                <td><%= image_tag @customer.get_image(1000,1000), class: 'image-container rounded-circle' %></td>
              </tr>
              <tr>
                <th>名前</th>
                <td><%= @customer.name %></td>
              </tr>
              <% if current_customer == @customer %>
                <tr>
                  <th>メールアドレス</th>
                  <td><%= @customer.email %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <% if @customer.posts %>
    <div class='row'>
      <div class='col-md-8 offset-md-2 p-0'>
      <% @customer.posts.each do |post| %>
        <div class='card'>
          <div class='card-body'>
            <div class='d-flex flex-row mb-2'>
              <%= link_to customer_path(post.customer) do %>
                <%= image_tag post.customer.get_image(1000,1000), class: 'image-container rounded-circle' %>
              <% end %>
              <h5 class='ml-3'><%= post.customer.name %></h5>
            </div>
            <div class='d-flex flex-row offset-md-1'>
              <div class='img-container ml-2 mr-3'>
                <%= link_to post_path(post) do %>
                  <%= image_tag post.get_post_image(800,800) %>
                <% end %>
              </div>
              <div class='col-md-7'>
                <h5 class='mb-3'><%= post.title %></h5>
                <p class='w-75'><%= post.body %></p>
                <div class='d-flex flex-row mb-3'>
                  <p><%= render 'public/posts/static_rate', post: post %><i class="fa-regular fa-comment-dots ml-3 mr-1 mt-1"></i><%= post.post_comments.count %></p>
                </div>
                <p>¥<%= post.price.to_s(:delimited) %></p>
                <% post.tags.each do |tag| %>
                  <i class="fa-solid fa-tag" style="color: #B197FC;"></i>
                  <%= link_to tag.name, search_tag_path(tag_id: tag.id), class:'custom-link text-secondary' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>
  <div class="row my-3 justify-content-center">
    <%= paginate @posts, theme: 'bootstrap-5' %>
  </div>
</div>