<div class="search-bar p-0">
  <%= search_form_for @q, url: posts_search_path do |f| %>
    <h4 class="text-center">詳細検索</h4>

        <div class="form-group">
          <div class="d-flex">
            <label for="customRange1", class="col-md-3" ><%= f.label :price_cont, "価格" %></label><br>
            <div class="col-md-9">
              <%= f.number_field :price_lteq, class:"input-price", placeholder: "¥Max", type: "range", class: "form-range", min: "1000", max: "20000", step: "1000", id: "customRange1", oninput: "updatePriceRange()" %>
              <script>
                function updatePriceRange() {
                  var slider = document.getElementById("customRange1");
                  var output = document.getElementById("priceValue");
                  output.textContent = "¥" + slider.value; // 反映させる要素に価格を表示
                }
              </script>
              <p><span id="priceValue">¥11000</span>以下</p>
            </div>
          </div>
        </div>

        <div class="">
          <p><%= f.label :tag_cont, "タグ" %></p>
          <%= f.collection_select :tag_id_eq, Tag.where.not(id: 0), :id, :name, include_blank: "タグの選択", class:"search-select-box"  %>
        </div>
        <div class="">
           <%= f.date_field :created_at_gteq %>
           <span>~</span>
           <%= f.date_field :created_at_lteq_end_of_day %>
        </div>
        <%= f.submit '検索する', class:"col-sm-6 offset-md-3" %>

    <% end %>
  </div>
