<%= search_form_for @q, url: posts_search_path do |f| %>
  <h4 class="text-center mt-3">詳細検索</h4>
  <div class="form-group">
    <div class="d-flex">
      <label for="customRange1", class="m-3" ><%= f.label :price_cont, "価格" %></label><br>
      <div class="ml-3 mt-3">
        <%= f.number_field :price_lteq, class:"input-price", placeholder: "¥Max", type: "range", class: "form-range", min: "1000", max: "50000", step: "1000", id: "customRange1", oninput: "updatePriceRange()" %>
        <script>
          function updatePriceRange() {
            var slider = document.getElementById("customRange1");
            var output = document.getElementById("priceValue");
            output.textContent = "¥" + slider.value; // スライダーの値に応じて価格を更新
          };

          // ページ読み込み時に価格を初期化
          window.onload = function() {
            updatePriceRange();
          };
        </script>
        <p class="ml-3 mt-3"><span id="priceValue">¥26000</span>以下</p>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <%= f.date_field :created_at_gteq %>
    <span>~</span>
    <%= f.date_field :created_at_lteq_end_of_day %>
  </div>
  <div class="d-flex justify-content-center">
    <%= f.submit '検索する', class:"btn btn-outline-info col-sm-6 my-4" %>
  </div>
<% end %>
