<%#プレビュー画像を表示させる設定→<div id="previews"></div>で指定%>
<%= form_with model: post, id: 'new_post', local:true do |f| %>
  <div class='form-group'>
    <%= f.label :タイトル %>
    <%= f.text_field :title, class: 'form-control post_title', placeholder: 'テント' %>
  </div>
  <div class='form-group'>
    <%= f.label :説明 %>
    <%= f.text_area :body, rows: '5', class: 'form-control post_body', placeholder: '使用感など' %>
  </div>
  <div class='form-group'>
    <div class="image-field">
      <%= f.file_field :image %>
      <label class='form-image'>
        <span class='image-file'><i class="fa-regular fa-image mr-2"></i>画像選択</span>
        <input type='file' id='new_post' class='hidden' style='display: none;'>
      </label>
      <div id="previews"></div>
    </div>
  </div>
  <% if post.id.nil? %>
    <div class='form-group' id='star'>
      <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
      <div id='post_raty'></div>
    </div>
    <script>
      $(document).on('turbolinks:load', function(){
        let elem = document.querySelector('#post_raty');
        if (elem == null) return;

        elem.innerHTML = ""
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'post[star]',
        };
        raty(elem, opt);
      });
    </script>
  <% else %>
    <div class='form-group'>
      <%= render "static_rate", post: post %>
    </div>
  <% end %>
  <div class='form-group'>
    <div class='d-flex'>
    <%=f.text_field :price, class: 'form-control post_price', placeholder:'1000' %><h6 class='p-2'>円</h6>
    </div>
  </div>
  <div class='form-group'>
    <label>タグ（、で区切ると複数登録可能）</label>
    <%= f.text_field :name, class: 'form-control', placeholder:'テント、寝袋' %>
  </div>
  <div class='form-group'>
    <% if post.new_record? %>
      <%= f.submit '投稿', class: 'btn btn-outline-success col-sm-8 offset-md-2' %>
    <% else %>
      <%= f.submit '更新', class: 'btn btn-outline-success col-sm-6 offset-md-3' %>
    <% end %>
  </div>
<% end %>
