<% posts.each do |post| %>
  <div class='card'>
    <div class='card-body'>
      <div class='d-flex flex-row mb-2'>
        <%= link_to customer_path(post) do %>
          <%= image_tag post.customer.get_profile_image(50,50), class: 'rounded-circle' %>
        <% end %>
        <h5 class='ml-3'><%= post.customer.name %></h5>
      </div>
      <div class='d-flex flex-row offset-md-1 pl-2'>
        <div class='img-container pr-3'>
          <%= link_to post_path(post) do %>
            <%= image_tag post.get_post_image(800,800) %>
          <% end %>
        </div>
        <div>
          <p><%= post.title %></p>
          <p><%= post.body %></p>
          <div class='d-flex flex-row mb-3'>
            <p><%= render 'static_rate', post: post %><i class="fa-regular fa-comment-dots ml-3 mr-1 mt-1"></i><%= post.post_comments.count %></p>
          </div>
          <p>¥<%= post.price.to_s(:delimited) %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>