<% posts.each do |post| %>
  <div class='card'>
    <div class='card-body'>
      <div class='d-flex flex-row mb-2'>
        <%= link_to customer_path(post.customer) do %>
          <%= image_tag post.customer.get_image(1000,1000), class: 'image-container rounded-circle' %>
        <% end %>
        <h5 class='ml-3'><%= post.customer.name %></h5>
      </div>
      <div class='d-flex flex-row offset-md-1'>
        <div class='img-container mr-3'>
          <%= link_to post_path(post) do %>
            <%= image_tag post.get_post_image(800,800) %>
          <% end %>
        </div>
        <div class='col-md-6 p-0'>
          <h5 class='mb-3'><%= post.title %></h5>
          <p><%= post.body %></p>
          <p class="sentiment-score">本文の感情分析スコア<%= post.score %></p>
          <div class='d-flex flex-row mb-3'>
            <p><%= render 'static_rate', post: post %></p>
          </div>
          <div class='d-flex flex-row'>
            <i class='fa-regular fa-comment-dots mt-1'></i><%= post.post_comments.count %>
            <p class='ml-2' id="favorite-btn<%= post.id %>"><%= render 'public/favorites/btn', post: post %></p>
          </div>
          <p>¥<%= post.price.to_s(:delimited) %></p>
          <% post.tags.each do |tag| %>
            <i class="fa-solid fa-tag" style="color: #B197FC;"></i>
            <%= link_to tag.name, search_tag_path(tag_id: tag.id), class:'custom-link text-secondary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="row my-3 justify-content-center">
  <%= paginate posts, theme: 'bootstrap-5' %>
</div>