<div class='container mt-3'>
  <div class='row justify-content-center'>
    <div class='col-md-8 p-0'>
      <div>
        <%= link_to posts_path, data: {"turbolinks" => false} do %>
           <i class="fa-solid fa-arrow-left mb-4 text-dark"><span class='ml-4'>投稿する</span></i>
        <% end %>
      </div>
      <div class='card'>
        <div class='card-body'>
          <div class='d-flex flex-row mb-2'>
            <%= link_to customer_path(@post.customer) do %>
              <%= image_tag @post.customer.get_image(1000,1000), class: 'image-container rounded-circle' %>
            <% end %>
            <h5 class='flex-grow-1 ml-3'><%= @post.customer.name %></h5>
            <% if @post.customer == current_customer %>
              <%= link_to edit_post_path(@post), data: {"turbolinks" => false} do %>
                <i class="fa-solid fa-gear fa-xl p-2" style="color: #008f64;"></i>
              <% end %>
              <%= link_to @post, method: :delete, data: { confirm: '本当に消しますか？' } do %>
                <i class="fa-regular fa-trash-can fa-xl p-2" style="color: #ff0000;"></i>
              <% end %>
            <% end %>
          </div>
          <div class='d-flex flex-row offset-md-1'>
            <div class='img-container ml-2 mr-3'>
              <%= image_tag @post.get_post_image(800,800) %>
            </div>
            <div class='col-md-7'>
              <h5 class='mb-3'><%= @post.title %></h5>
              <p><%= @post.body %></p>
              <p class="sentiment-score">本文の感情分析スコア[<%= @post.score %>]</p>
              <div class='d-flex flex-row mb-3'>
                <p><%= render "static_rate", post: @post %></p>
              </div>
              <div class='d-flex flex-row'>
                <i class='fa-regular fa-comment-dots mt-1'></i><span id='comment_count'><%= @post.post_comments.count %></span>
                <p class='ml-2' id="favorite-btn<%= @post.id %>"><%= render 'public/favorites/btn', post: @post %></p>
              </div>
              <p>¥<%= @post.price.to_s(:delimited) %></p>
              <!--タグリスト-->
              <% @post_tags.each do |tag| %>
                <i class="fa-solid fa-tag" style="color: #B197FC;"></i>
                <%= link_to tag.name,search_tag_path(tag_id: tag.id), class:'custom-link text-secondary' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div>

        <!--コメント-->
        <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
        <!--コメント一覧-->
        <div id="comment_show">
          <%= render "public/post_comments/show", post: @post %>
          <div id="comments_error"></div>
        </div>
      </div>
    </div>
  </div>
</div>