<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <h2 class="mb-3">管理者ログイン</h2>
          <%= form_with model: @admin, url: new_admin_session_path, local: true do |f| %>
            <div class="field mb-3">
              <label for="email">メールアドレス</label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "email" %>
            </div>
            <div class="field mb-3">
              <label for="password">パスワード</label>
              <%= f.password_field :password, autocomplete: "current-password", id: "password" %>
            </div>
            <div class="actions">
              <%= f.submit "ログイン", class: "btn btn-success" %>
            </div>
          <% end %>
          <%= render "admin/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
