<%= form_with model: @customer, url: admin_customer_path(@customer), local: true do |f| %>
  <div class="container mt-5">
    <%= render 'layouts/errors', obj: @customer %>
    <div class="row justify-content-center">
      <div class="col-md-8 p-0">
        <div class="card">
          <div class="card-header text-center">
            <h3><%= "#{@customer.name}さんの会員情報編集" %></h3>
          </div>
          <div class="card-body">
            <table class="table">
              <tbody>
                <tr>
                  <th>会員ID</th>
                  <td><%= @customer.id %></td>
                </tr>
                <tr>
                  <th>名前</th>
                  <td>
                    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control mb-2" %>
                  </td>
                </tr>
                <tr>
                  <th>メールアドレス</th>
                  <td>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                  </td>
                </tr>
                <tr>
                  <th>ステータス</th>
                  <td>
                    <div class="form-check form-check-inline">
                      <%= f.radio_button :is_active, false, class: "form-check-input" %>
                      <%= f.label :is_active_false, '退会', class: "form-check-label" %>
                    </div>
                    <div class="form-check form-check-inline">
                      <%= f.radio_button :is_active, true, class: "form-check-input" %>
                      <%= f.label :is_active_true, '有効', class: "form-check-label" %>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-center">
              <%= f.submit "変更保存", class: "btn btn-outline-success col-sm-4" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>