<div class='ml-2 mb-2'>
  <%= link_to '新しい順', admin_posts_path(sort: 'created_at DESC'), class:'custom-link text-secondary' %> |
  <%= link_to '評価の高い順', admin_posts_path(sort: 'star DESC'), class:'custom-link text-secondary' %>
</div>
<% posts.each do |post| %>
  <div class='card'>
    <div class='card-body'>
      <div class='d-flex flex-row mb-2'>
        <%= link_to admin_customer_path(post.customer) do %>
          <%= image_tag post.customer.get_image(1000,1000), class: 'image-container rounded-circle' %>
        <% end %>
        <h5 class='ml-3'><%= post.customer.name %></h5>
      </div>
      <div class='d-flex flex-row offset-md-1'>
        <div class='img-container mr-3'>
          <%= link_to admin_post_path(post) do %>
            <%= image_tag post.get_post_image(800,800) %>
          <% end %>
        </div>
        <div>
          <h5 class='mb-3'><%= post.title %></h5>
          <p><%= post.body %></p>
          <div class='d-flex flex-row mb-3'>
            <p><%= render 'static_rate', post: post %><i class="fa-regular fa-comment-dots ml-3 mr-1 mt-1"></i><%= post.post_comments.count %></p>
          </div>
          <p>¥<%= post.price.to_s(:delimited) %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>