<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center">
          <h4>ログイン</h4>
        </div>
        <div class="card-body text-center">
          <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
            <%= render 'layouts/errors', obj: @customer %>
            <div class="field mb-3">
              <label class="w-25" for="email">メールアドレス</label>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "email" %>
            </div>
            <div class="field mb-3">
              <label class="w-25" for="password">パスワード</label>
              <%= f.password_field :password, autocomplete: "current-password", id: "password" %>
            </div>
            <div class="actions">
              <%= f.submit "ログイン", class: "btn btn-outline-info col-sm-3" %>
            </div>
          <% end %>
          <%= render "admin/shared/links" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header text-center">
          <h4>会員登録がお済みでない方</h4>
        </div>
        <div class="card-body text-center">
          <%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

