<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container">
      <%= link_to "LuxuryCampLife", root_path, class: 'navbar-brand' %>
      <div>
        <% if customer_signed_in? %>
          <p class="text-white m-2 ml-4">ようこそ<%= current_customer.name %>さん！</p>
        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%=  link_to admin_customers_path,class: 'btn btn-outline-light rounded-pill nav-link text-light m-2' do %>
              <i class="fa-solid fa-users"></i>会員一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_posts_path, data: {"turbolinks" => false}, class: 'btn btn-outline-light rounded-pill nav-link text-light m-2' do %>
              <i class="fa-solid fa-cake-candles"></i>Posts
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_admin_session_path,method: :delete, class: 'btn btn-outline-light rounded-pill nav-link text-light m-2' do %>
              <i class="fa-solid fa-arrow-right-from-bracket"></i>Log Out
            <% end %>
          </li>
        <% elsif customer_signed_in? %>
          <li class="nav-item">
            <%= link_to customer_path(current_customer),class: 'btn btn-outline-light rounded-pill nav-link text-light m-2' do %>
              <i class="fa-solid fa-user"></i>My page
            <% end %>
          </li>
          <li class="nav-item">
            <%=  link_to posts_path, data: {"turbolinks" => false}, class: 'btn btn-outline-light rounded-pill nav-link text-light m-2' do %>
              <i class="fa-solid fa-cake-candles"></i>posts
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_customer_session_path, method: :delete,class: 'btn btn-outline-light rounded-pill nav-link text-light m-2' do %>
              <i class="fa-solid fa-arrow-right-from-bracket"></i>Log Out
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to about_path,class: 'btn btn-outline-light rounded-pill nav-link text-light m-2' do %>
              <i class="fa-solid fa-truck-fast"></i>About
            <% end %>
          </li>
          <li class="nav-item">
            <%=  link_to new_customer_registration_path,class: 'btn btn-outline-light rounded-pill nav-link text-light m-2' do %>
              <i class="fa-solid fa-user-plus"></i>Sign Up
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_customer_session_path,class: 'btn btn-outline-light rounded-pill nav-link text-light m-2' do %>
              <i class="fa-solid fa-arrow-right-to-bracket"></i>Log In
            <% end %>
          </li>
          <li>
            <%= link_to customers_guest_sign_in_path,class: 'btn btn-outline-light rounded-pill nav-link text-light m-2', method: :post do %>
              <i class="fa-solid fa-arrow-right-to-bracket"></i>ゲストログイン
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
